table {
    table-layout: fixed;
  }
  
  td,
  th {
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
  }
  
  td {
    max-width: 150px;
  }

  .search{
    margin-top: 10px;
    align-items: center;
    margin-left: 20px;
  }