<table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th appSorting [data]="employees" [field]="'name'" > Name
      </th>
      <th appSorting [data]="employees" [field]="'age'" >Age
      </th>
      <th>Phone</th>
      <th>Address</th>
    </tr>
    </thead>

    <tbody >
    <tr appHighlight *ngFor="let emp of employees; index as i" [age]="emp.age" >
      <td>{{ emp.id }}</td>
      <td>{{ emp.name}}</td>
      <td>{{ emp.age }}</td>
      <td>{{ emp.phone }}</td>
      <td>{{ emp.address }}</td>
    </tr>
    </tbody>

  </table>




