<input type="text" placeholder="Search by name" [(ngModel)]='filterText' class="search">

<hr>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th appSorting [data]="employees" [field]="'name'"> Name </th>
      <th appSorting [data]="employees" [field]="'age'">Age </th>
      <th>Phone</th>
      <th>Address</th>
    </tr>
  </thead>

  <tbody>
    
    <tr *ngFor="let emp of employees | paginate: {itemsPerPage:10 , currentPage: p} | filterEmp:filterText | async ">
    <!-- <tr *ngFor="let emp of employees | async | filterEmp:searchText "> -->

      <td appHighlight [age]="emp.age">{{ emp.id }}</td>
      <td appHighlight [age]="emp.age">{{ emp.name}}</td>
      <td appHighlight [age]="emp.age">{{ emp.age }}</td>
      <td appHighlight [age]="emp.age">{{ emp.phone }}</td>
      <td appHighlight [age]="emp.age">{{ emp.address }}</td>
    </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="p = $event"></pagination-controls>