<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th appSorting [data]="employees" [field]="'name'" (sortDirectionChange)="sortDirectionChanged('name', $event)"> Name
      <i *ngIf="sortingField === 'name'" [class]="sortingDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
    </th>
    <th appSorting [data]="employees" [field]="'age'" (sortDirectionChange)="sortDirectionChanged('age', $event)">Age
      <i *ngIf="sortingField === 'age'" [class]="sortingDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
    </th>
    <th>Phone</th>
    <th>Address</th>
  </tr>
  </thead>

  <tbody >
  <tr appHighlight *ngFor="let emp of employees; index as i" [age]="emp.age" >
    <td>{{ emp.id }}</td>
    <td>{{ emp.name}}</td>
    <td>{{ emp.age }}</td>
    <td>{{ emp.phone }}</td>
    <td>{{ emp.address }}</td>
  </tr>
  </tbody>

</table>




